.vscode/
.idea/
node_modules/


components/*/*
!components/headers/*.yaml
!components/parameters/*.yaml
!components/responses/*.yaml
!components/schemas/*.yaml

components/headers/ExpiresAfter.yaml
components/headers/RateLimit.yaml
components/headers/Xpage.yaml
components/headers/XperPage.yaml
components/headers/XtotalCount.yaml

components/parameters/PaginationPage.yaml
components/parameters/PaginationPageSize.yaml

components/responses/400BadRequest.yaml
components/responses/404NotFound.yaml
components/responses/422UnprocessableEntity.yaml
components/responses/500InternalServerError.yaml
components/responses/CollectionsSuccess.yaml

components/schemas/CollectionsView.yaml
components/schemas/InputValidationIssue.yaml
components/schemas/InputValidationProblem.yaml
components/schemas/InputValidationProblem.yaml
components/schemas/PartialCollectionView.yaml
components/schemas/Problem.yaml
